*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #202020;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 600px;
  width: 1000px;
  background-color: #252525;
}

.player-one {
  width: 35%;
  height: 100%;
  background-color: #303030;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player-two {
  width: 35%;
  height: 100%;
  background-color: #303030;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: #353535;
}
